h1{
font-family: "Bangers", cursive;
text-align: center;
color: #fefdff;
font-size:35px;
text-shadow: 2px 4px 2px #03036de1;
}

h1:hover{
  font-size:37px;
  cursor: grab;
  color: rgba(87, 235, 255, 0.32);
}

p{
font-family: "Bangers", cursive;
text-align: center;
color: #f8f5ffde;
font-size: 28px;
}


.container {
  position: relative; 
  width: 300px;
  margin: 50px auto;  
}


.cubotitle {
  position: relative; 
  z-index: 10;       
  width: 300px;
  height: 75px;
  background-color: #4e72de96; 
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #1d4bd4;
  display: flex;
  align-items: center;
  justify-content: center;
  top:60px;
}

.cubotxt{
margin:auto;
margin-top: 100px;
width: 300px;
height: 300px;
background-color: #4e72de96; 
border-radius: 20px 20px 0px 0px;
border: 2px solid #1d4bd4;
text-shadow: 2px 2px 2px #07072b7a;
}


.pedro {
  position: absolute;
  z-index: 1;         
  width: 150px;      
  height: auto;
  top: -40px;         
  left: 65px;        
}

.ptlogo{
  width: 60px;
  height: 60px;
margin: auto;
}

.matlogo{
  width: 60px;
  height: 60px;
  margin:auto;
}

button{
margin:auto;
width: 140px;
height: 60px;
border-radius: 20px 20px 0px 0px;
background-color: #becaed59; 
font-family: "Ranchers", cursive;
font-size: 28px;
color: #f2f0f9de;
text-shadow: 2px 2px 2px #1c1c1ce4;
}

button:hover{
  font-size:29px;
  cursor: grab;
  color: rgba(87, 235, 255, 0.32);
}


.material-symbols-outlined:hover{
cursor: grab;

}

body{
    background-image: url("/IMAGE/Fundo.png");
    animation: fundo 25s linear infinite;
}

@media (max-width: 768px) {
  body {
    background-image: url("/IMAGE/Fundo.png");
    animation: fundo 15s linear infinite;
  }
}


@keyframes fundo{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 100% -100%;  
}
}